body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }
header{
    width: 100%;
}
h1{
    background-color: #0f1a4b;
    width: 100%;
    margin: 0;
    font-size: 3em;
}

.white{
    color: white;
}
.orange{
    color: #ff8a00;
}
#nome{
    margin-bottom: 10px;
    width: 300px;
}
#string{
    border: 1.5px solid #0f1a4b;
    font-size: 3em;
    padding: 30px;
    border-radius: 10px;
}
#string:empty{
    display:none;
}
#numero{
    border: 1.5px solid #ff8a00;
    font-size: 3em;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#numero:empty{
    display:none;
}
